<div class="row pd-2">
    {{#if diaries}}
        <h1 class="mb-2 ml-3 heading--secondary">Your Diaries</h1>
    {{/if}}
    <div class="flex">
        {{#each diaries}}
        <div class="flex-col">
            <div class="card">
                <div class="card__left">
                    <div class="card__top">
                        <div class="card__holder">
                            <img src="/image/img-{{random}}.jpg" draggable="false" class="card__img" id="img-post">
                        </div>
                    </div>

                    <div class="card__bottom">
                        <div class="card__date">
                            <h1 class="card__day">
                                {{day}}
                            </h1>

                            <h2 class="card__month">
                                {{month}}
                            </h2>
                        </div>

                        <div class="card__tray">
                            {{#each (publicity status)}}
                            <a class="btn--link"><i class="{{statusIcon}}" title="{{statusTag}}"></i></a>
                            {{/each}}
                            
                            <a href="" class="btn--link"><i class="far fa-comment-alt" title="Comments"></i></a>
                            <a href="" class="btn--link"><i class="far fa-heart" title="Like"></i></a>
                            <a href="/diaries/edit/{{id}}" class="btn--link" id="btn-edit"><i class="far fa-edit" title="Edit"></i></a>
                            
                            <form action="/diaries/{{id}}?_method=DELETE" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn--link"><i class="far fa-trash-alt" title="Delete"></i></button>
                            </form>
                            
                        </div>
                    </div>

                </div>

                <div class="card__right">

                    <h1 class="card__heading">
                        <span class="card__heading_span">
                            {{truncate title 45}}
                        </span>
                    </h1>

                    <div class="card__profile">
                        <div class="card__profile-img-holder">
                            <img src="{{user.image}}" alt="" class="card__profile-img">
                        </div>

                        <h4 class="card__profile-name">
                            {{user.firstName}} {{user.lastName}}
                        </h4>
                    </div>

                    <a href="/diaries/show/{{id}}" class="btn btn--secondary card__view" title="View Diary Content" id="btn-view"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="card__empty">
            <div class="card__empty-caption">
                <h1 class="heading--secondary" style="font-weight: 300">No post yet?</h1>   
                <button class="btn btn--secondary" id="btn-noPost">Post your first diary</button>
            </div>
            <img src="/image/image-3.png" alt="No post created" class="card__empty-img">
        </div>
        {{/each}}
    </div>

</div>
<script>
    document.getElementById('btn-noPost').addEventListener('click', (e)=>{
        document.getElementById('pnl-post').classList.toggle('post-show');
        document.getElementById('btn-float-cover').classList.toggle('float-show');
    })
</script>